certifi==2024.7.4
charset-normalizer==3.3.2
decorator==4.4.2
ffmpeg==1.4
idna==3.7
imageio==2.35.0
imageio-ffmpeg==0.5.1
moviepy==1.0.3
numpy==1.26.4
pillow==10.4.0
proglog==0.1.10
PyQt5==5.15.11
PyQt5-Qt5==5.15.14
PyQt5_sip==12.15.0
requests==2.32.3
setuptools==72.2.0
tqdm==4.66.5
urllib3==2.2.2
